
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonFooter" class="fly-footer">

    <P> <a href="https://blog.csdn.net/weixin_42413153" target="_blank">我的 CSDN 账户</a> </P>
    <P>	<a href="https://github.com/1093099339" target="_blank">我的 GitHub 账户</a></P>

    <!-- 运行环境
    <input id="url" type="text" value="http://47.100.235.58:18088/youyaboot-web/web"/>
-->

    <!-- 测试环境-->
    <input id="url" type="text" value="http://localhost:18088/blogs-web/web"/>


</div>
</html>
