<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* 代码为自动生成 Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
*  欢迎加入官方QQ群:323237052
-->
<mapper namespace="com.Westworld.blogs.service.liuyacompany.mapper.LiuyaCompanyMapper">
    <!-- LiuyaCompany -->

    <resultMap id="resultMap" type="LiuyaCompany">
                <id column="id" property="id"/>
                <result column="company_id" property="companyId" />
                <result column="address" property="address" />
                <result column="city_id" property="cityId" />
                <result column="type" property="type" />
                <result column="number" property="number" />
                <result column="link" property="link" />
    </resultMap>
    <!-- 查询单个实体 -->
    <select id="getModel" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!--根据主键 查询单个实体 -->
    <select id="getModelByPk" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  <include refid="magicalcoderPkWhereSql"/>
    </select>
    <!-- 查询一组实体 -->
    <select id="getModelList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体 in 语句-->
    <select id="getModelInList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where  `id` in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">#{id}</foreach>
        <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体的数量 -->
    <select id="getModelListCount" parameterType="hashmap" resultType="int">
        select count(1)  from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 插入单个实体 遇到入参null转换成数据库NULL-->
    <insert id="insertModel" parameterType="LiuyaCompany"  useGeneratedKeys="true" keyProperty="id" >
        insert into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库NULL-->
    <insert id="replaceModel" parameterType="LiuyaCompany"  useGeneratedKeys="true" keyProperty="id" >
        replace into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 插入单个实体 遇到入参null转换成数据库默认值-->
    <insert id="insertModelWithoutNull" parameterType="LiuyaCompany"  useGeneratedKeys="true" keyProperty="id" >
        insert into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库默认值-->
    <insert id="replaceModelWithoutNull" parameterType="LiuyaCompany"  useGeneratedKeys="true" keyProperty="id" >
        replace into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 批量插入一组实体 -->
    <insert id="batchInsertModel" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <!-- 批量替换一组实体 -->
    <insert id="batchReplaceModel" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <insert id="batchInsertModelWithoutNull" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>
    <insert id="batchReplaceModelWithoutNull" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>

        <!-- 清空表 操作危险 慎用，暂时注销掉-->
    <delete id="truncateModel">
        -- truncate table <include refid="tableSql"/>
    </delete>

    <!-- 根据主键删除一个实体 magicalCoderPrimaryKeyName 框架封装-->
    <delete id="deleteModelByPk" parameterType="hashmap">
        delete from <include refid="tableSql"/> <include refid="magicalcoderPkWhereSql"/>
    </delete>

    <delete id="deleteModelList" parameterType="hashmap">
        delete from <include refid="tableSql"/> where 1=1 <include refid="whereSqlModel"/>
    </delete>

    <!-- 批量删除实体 in 根据主键-->
    <delete id="deleteModelByIds" parameterType="java.util.Set">
        delete from <include refid="tableSql"/> where `id` in <foreach item="id" index="index" collection="collection" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <!-- 更新一个实体 -->
    <update id="updateModel" parameterType="LiuyaCompany">
        update <include refid="tableSql"/> <include refid="updateSetSql"/> <include refid="updatePkWhereSql"/>
    </update>
    <!-- 更新一个实体 仅仅当被更新的字段不为空的时候才更新，否则忽略更新-->
    <update id="updateModelWithoutNull" parameterType="LiuyaCompany">
        update <include refid="tableSql"/> <include refid="updateSetWithoutNullSql"/> <include refid="updatePkWhereSql"/>
    </update>
     <!-- 批量更新实体 传入一组实体，分别根据主键作为查询条件-->
    <update id="batchUpdateModel" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <update id="batchUpdateModelWithoutNull" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateWithoutNullSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <!-- sql 片段 -->
   <sql id="selectSqlIgnoreModel">
        <trim suffixOverrides=",">
            <if test="idIgnore_ == null or !idIgnore_">`id`,</if>
            <if test="companyIdIgnore_ == null or !companyIdIgnore_">`company_id`,</if>
            <if test="addressIgnore_ == null or !addressIgnore_">`address`,</if>
            <if test="cityIdIgnore_ == null or !cityIdIgnore_">`city_id`,</if>
            <if test="typeIgnore_ == null or !typeIgnore_">`type`,</if>
            <if test="numberIgnore_ == null or !numberIgnore_">`number`,</if>
            <if test="linkIgnore_ == null or !linkIgnore_">`link`</if>
        </trim>
    </sql>
    <sql id="selectSqlNotIgnoreModel">
        <trim suffixOverrides=",">
         <if test="idNotIgnore_ != null and idNotIgnore_">`id`,</if>
         <if test="companyIdNotIgnore_ != null and companyIdNotIgnore_">`company_id`,</if>
         <if test="addressNotIgnore_ != null and addressNotIgnore_">`address`,</if>
         <if test="cityIdNotIgnore_ != null and cityIdNotIgnore_">`city_id`,</if>
         <if test="typeNotIgnore_ != null and typeNotIgnore_">`type`,</if>
         <if test="numberNotIgnore_ != null and numberNotIgnore_">`number`,</if>
         <if test="linkNotIgnore_ != null and linkNotIgnore_">`link`</if>
        </trim>
    </sql>

    <sql id="douFieldSql">
        <trim suffixOverrides=",">
            <if test="id!=null">`id`,</if> `company_id`,`address`,`city_id`,`type`,`number`,`link`,
        </trim>
    </sql>
    <sql id="douValueSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="companyId!=null">#{companyId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="address!=null">#{address},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="cityId!=null">#{cityId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="type!=null">#{type},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="number!=null">#{number},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="link!=null">#{link},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>

    <sql id="douFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="id!=null">`id`,</if>
                <if test="companyId!=null">`company_id`,</if>
                <if test="address!=null">`address`,</if>
                <if test="cityId!=null">`city_id`,</if>
                <if test="type!=null">`type`,</if>
                <if test="number!=null">`number`,</if>
                <if test="link!=null">`link`,</if>

        </trim>
    </sql>
    <sql id="douValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="companyId!=null">#{companyId},</when></choose>
                <choose><when test="address!=null">#{address},</when></choose>
                <choose><when test="cityId!=null">#{cityId},</when></choose>
                <choose><when test="type!=null">#{type},</when></choose>
                <choose><when test="number!=null">#{number},</when></choose>
                <choose><when test="link!=null">#{link},</when></choose>
        </trim>
    </sql>

    <sql id="batchDouFieldSql">
        <trim suffixOverrides=",">
                <if test="item.id!=null">`id`,</if> `company_id`,`address`,`city_id`,`type`,`number`,`link`,
        </trim>
    </sql>
    <sql id="batchDouValueSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id},</when></choose>
                <choose><when test="item.companyId!=null">#{item.companyId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.address!=null">#{item.address},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.cityId!=null">#{item.cityId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.type!=null">#{item.type},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.number!=null">#{item.number},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.link!=null">#{item.link},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="item.id!=null">`id`,</if>
                <if test="item.companyId!=null">`company_id`,</if>
                <if test="item.address!=null">`address`,</if>
                <if test="item.cityId!=null">`city_id`,</if>
                <if test="item.type!=null">`type`,</if>
                <if test="item.number!=null">`number`,</if>
                <if test="item.link!=null">`link`,</if>

        </trim>
    </sql>
    <sql id="batchDouValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id},</when></choose>
                <choose><when test="item.companyId!=null">#{item.companyId},</when></choose>
                <choose><when test="item.address!=null">#{item.address},</when></choose>
                <choose><when test="item.cityId!=null">#{item.cityId},</when></choose>
                <choose><when test="item.type!=null">#{item.type},</when></choose>
                <choose><when test="item.number!=null">#{item.number},</when></choose>
                <choose><when test="item.link!=null">#{item.link},</when></choose>
        </trim>
    </sql>
    <sql id="updateSetSql">
        <set>
                    <choose> <when test="companyId!=null">`company_id`=#{companyId}</when> <otherwise> `company_id`=NULL</otherwise> </choose>,
                    <choose> <when test="address!=null">`address`=#{address}</when> <otherwise> `address`=NULL</otherwise> </choose>,
                    <choose> <when test="cityId!=null">`city_id`=#{cityId}</when> <otherwise> `city_id`=NULL</otherwise> </choose>,
                    <choose> <when test="type!=null">`type`=#{type}</when> <otherwise> `type`=NULL</otherwise> </choose>,
                    <choose> <when test="number!=null">`number`=#{number}</when> <otherwise> `number`=NULL</otherwise> </choose>,
                    <choose> <when test="link!=null">`link`=#{link}</when> <otherwise> `link`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="updateSetWithoutNullSql">
        <set>
                    <choose><when test="companyId!=null">`company_id`=#{companyId},</when></choose>
                    <choose><when test="address!=null">`address`=#{address},</when></choose>
                    <choose><when test="cityId!=null">`city_id`=#{cityId},</when></choose>
                    <choose><when test="type!=null">`type`=#{type},</when></choose>
                    <choose><when test="number!=null">`number`=#{number},</when></choose>
                    <choose><when test="link!=null">`link`=#{link},</when></choose>
        </set>
    </sql>
    <sql id="magicalcoderPkWhereSql">
        where 1=1
            and `id` = #{magicalCoderPrimaryKeyName}
    </sql>
    <sql id="updatePkWhereSql">
        where 1=1
            and `id` = #{id}
    </sql>
    <sql id="batchUpdateSetSql">
        <set>
                    <choose> <when test="item.companyId!=null">`company_id`=#{item.companyId}</when> <otherwise> `company_id`=NULL</otherwise> </choose>,
                    <choose> <when test="item.address!=null">`address`=#{item.address}</when> <otherwise> `address`=NULL</otherwise> </choose>,
                    <choose> <when test="item.cityId!=null">`city_id`=#{item.cityId}</when> <otherwise> `city_id`=NULL</otherwise> </choose>,
                    <choose> <when test="item.type!=null">`type`=#{item.type}</when> <otherwise> `type`=NULL</otherwise> </choose>,
                    <choose> <when test="item.number!=null">`number`=#{item.number}</when> <otherwise> `number`=NULL</otherwise> </choose>,
                    <choose> <when test="item.link!=null">`link`=#{item.link}</when> <otherwise> `link`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="batchUpdateWithoutNullSetSql">
        <set>
                    <choose> <when test="item.companyId!=null">`company_id`=#{item.companyId},</when></choose>
                    <choose> <when test="item.address!=null">`address`=#{item.address},</when></choose>
                    <choose> <when test="item.cityId!=null">`city_id`=#{item.cityId},</when></choose>
                    <choose> <when test="item.type!=null">`type`=#{item.type},</when></choose>
                    <choose> <when test="item.number!=null">`number`=#{item.number},</when></choose>
                    <choose> <when test="item.link!=null">`link`=#{item.link},</when></choose>
        </set>
    </sql>
    <sql id="batchUpdatePkWhereSql">
        where 1=1
            and `id` = #{item.id}
    </sql>
    <!-- 这里可以加上数据库名称 方便的切换数据库-->
    <sql id="tableSql">
        blogs.liuya_company
    </sql>

   <sql id="whereSqlModel">
        <if test="id!=null "> and `id` = #{id}</if>
        <if test="companyId!=null "> and `company_id` = #{companyId}</if>
        <if test="address!=null "> and `address` = #{address}</if>
        <if test="cityId!=null "> and `city_id` = #{cityId}</if>
        <if test="type!=null "> and `type` = #{type}</if>
        <if test="number!=null "> and `number` = #{number}</if>
        <if test="link!=null "> and `link` = #{link}</if>
                <if test="idFirst!=null "> and `id` <![CDATA[=]]>
                            #{idFirst}
                </if>
                <if test="companyIdFirst!=null "> and `company_id` <![CDATA[=]]>
                            #{companyIdFirst}
                </if>
                <if test="addressFirst!=null "> and `address` <![CDATA[=]]>
                            #{addressFirst}
                </if>
                <if test="cityIdFirst!=null "> and `city_id` <![CDATA[=]]>
                            #{cityIdFirst}
                </if>
                <if test="typeFirst!=null "> and `type` <![CDATA[=]]>
                            #{typeFirst}
                </if>
                <if test="numberFirst!=null "> and `number` <![CDATA[=]]>
                            #{numberFirst}
                </if>
                <if test="linkFirst!=null "> and `link` <![CDATA[=]]>
                            #{linkFirst}
                </if>
        <!--<if test="whereSql!=null"> ${whereSql}</if>-->
    </sql>

    <sql id="safeGroupBy">
        <if test="safeGroupBy!=null and safeGroupBy!=''">
            group by
            <choose>
                <when test="safeGroupBy != null and safeGroupBy == 'id'">  `id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'company_id'">  `company_id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'address'">  `address` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'city_id'">  `city_id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'type'">  `type` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'number'">  `number` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'link'">  `link` </when>
            </choose>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="safeOrderBy!=null and safeOrderBy!=''">
            <choose>
                <when test="safeOrderBy != null and safeOrderBy == 'id desc'"> order by  `id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'id asc'"> order by `id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'company_id desc'"> order by  `company_id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'company_id asc'"> order by `company_id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'address desc'"> order by  `address` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'address asc'"> order by `address` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'city_id desc'"> order by  `city_id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'city_id asc'"> order by `city_id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'type desc'"> order by  `type` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'type asc'"> order by `type` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'number desc'"> order by  `number` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'number asc'"> order by `number` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'link desc'"> order by  `link` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'link asc'"> order by `link` asc </when>
            </choose>
        </if>
    </sql>

    <sql id="orderGroupLimit">
        <include refid="safeGroupBy"/>
        <if test="notSafeGroupBy != null and notSafeGroupBy != ''"> group by ${notSafeGroupBy}</if>
        <include refid="safeOrderBy"/>
        <if test="notSafeOrderBy != null and notSafeOrderBy != ''"> order by ${notSafeOrderBy}</if>
        <if test="limit != null"> LIMIT <if test="start != null">#{start},</if>#{limit} </if>
    </sql>

</mapper>
