<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* 代码为自动生成 Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
*  欢迎加入官方QQ群:323237052
-->
<mapper namespace="com.Westworld.blogs.service.liuyaclass.mapper.LiuyaClassMapper">
    <!-- LiuyaClass -->

    <resultMap id="resultMap" type="LiuyaClass">
                <id column="id" property="id"/>
                <result column="name" property="name" />
                <result column="school_id" property="schoolId" />
                <result column="teacher" property="teacher" />
                <result column="manage" property="manage" />
                <result column="createtime" property="createtime" />
    </resultMap>
    <!-- 查询单个实体 -->
    <select id="getModel" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!--根据主键 查询单个实体 -->
    <select id="getModelByPk" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  <include refid="magicalcoderPkWhereSql"/>
    </select>
    <!-- 查询一组实体 -->
    <select id="getModelList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体 in 语句-->
    <select id="getModelInList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where  `id` in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">#{id}</foreach>
        <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体的数量 -->
    <select id="getModelListCount" parameterType="hashmap" resultType="int">
        select count(1)  from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 插入单个实体 遇到入参null转换成数据库NULL-->
    <insert id="insertModel" parameterType="LiuyaClass"  useGeneratedKeys="true" keyProperty="id" >
        insert into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库NULL-->
    <insert id="replaceModel" parameterType="LiuyaClass"  useGeneratedKeys="true" keyProperty="id" >
        replace into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 插入单个实体 遇到入参null转换成数据库默认值-->
    <insert id="insertModelWithoutNull" parameterType="LiuyaClass"  useGeneratedKeys="true" keyProperty="id" >
        insert into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库默认值-->
    <insert id="replaceModelWithoutNull" parameterType="LiuyaClass"  useGeneratedKeys="true" keyProperty="id" >
        replace into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 批量插入一组实体 -->
    <insert id="batchInsertModel" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <!-- 批量替换一组实体 -->
    <insert id="batchReplaceModel" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <insert id="batchInsertModelWithoutNull" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>
    <insert id="batchReplaceModelWithoutNull" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            replace into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>

        <!-- 清空表 操作危险 慎用，暂时注销掉-->
    <delete id="truncateModel">
        -- truncate table <include refid="tableSql"/>
    </delete>

    <!-- 根据主键删除一个实体 magicalCoderPrimaryKeyName 框架封装-->
    <delete id="deleteModelByPk" parameterType="hashmap">
        delete from <include refid="tableSql"/> <include refid="magicalcoderPkWhereSql"/>
    </delete>

    <delete id="deleteModelList" parameterType="hashmap">
        delete from <include refid="tableSql"/> where 1=1 <include refid="whereSqlModel"/>
    </delete>

    <!-- 批量删除实体 in 根据主键-->
    <delete id="deleteModelByIds" parameterType="java.util.Set">
        delete from <include refid="tableSql"/> where `id` in <foreach item="id" index="index" collection="collection" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <!-- 更新一个实体 -->
    <update id="updateModel" parameterType="LiuyaClass">
        update <include refid="tableSql"/> <include refid="updateSetSql"/> <include refid="updatePkWhereSql"/>
    </update>
    <!-- 更新一个实体 仅仅当被更新的字段不为空的时候才更新，否则忽略更新-->
    <update id="updateModelWithoutNull" parameterType="LiuyaClass">
        update <include refid="tableSql"/> <include refid="updateSetWithoutNullSql"/> <include refid="updatePkWhereSql"/>
    </update>
     <!-- 批量更新实体 传入一组实体，分别根据主键作为查询条件-->
    <update id="batchUpdateModel" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <update id="batchUpdateModelWithoutNull" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateWithoutNullSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <!-- sql 片段 -->
   <sql id="selectSqlIgnoreModel">
        <trim suffixOverrides=",">
            <if test="idIgnore_ == null or !idIgnore_">`id`,</if>
            <if test="nameIgnore_ == null or !nameIgnore_">`name`,</if>
            <if test="schoolIdIgnore_ == null or !schoolIdIgnore_">`school_id`,</if>
            <if test="teacherIgnore_ == null or !teacherIgnore_">`teacher`,</if>
            <if test="manageIgnore_ == null or !manageIgnore_">`manage`,</if>
            <if test="createtimeIgnore_ == null or !createtimeIgnore_">`createtime`</if>
        </trim>
    </sql>
    <sql id="selectSqlNotIgnoreModel">
        <trim suffixOverrides=",">
         <if test="idNotIgnore_ != null and idNotIgnore_">`id`,</if>
         <if test="nameNotIgnore_ != null and nameNotIgnore_">`name`,</if>
         <if test="schoolIdNotIgnore_ != null and schoolIdNotIgnore_">`school_id`,</if>
         <if test="teacherNotIgnore_ != null and teacherNotIgnore_">`teacher`,</if>
         <if test="manageNotIgnore_ != null and manageNotIgnore_">`manage`,</if>
         <if test="createtimeNotIgnore_ != null and createtimeNotIgnore_">`createtime`</if>
        </trim>
    </sql>

    <sql id="douFieldSql">
        <trim suffixOverrides=",">
            <if test="id!=null">`id`,</if> `name`,`school_id`,`teacher`,`manage`,`createtime`,
        </trim>
    </sql>
    <sql id="douValueSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="name!=null">#{name},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="schoolId!=null">#{schoolId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="teacher!=null">#{teacher},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="manage!=null">#{manage},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="createtime!=null">#{createtime,jdbcType=TIMESTAMP},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>

    <sql id="douFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="id!=null">`id`,</if>
                <if test="name!=null">`name`,</if>
                <if test="schoolId!=null">`school_id`,</if>
                <if test="teacher!=null">`teacher`,</if>
                <if test="manage!=null">`manage`,</if>
                <if test="createtime!=null">`createtime`,</if>

        </trim>
    </sql>
    <sql id="douValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="name!=null">#{name},</when></choose>
                <choose><when test="schoolId!=null">#{schoolId},</when></choose>
                <choose><when test="teacher!=null">#{teacher},</when></choose>
                <choose><when test="manage!=null">#{manage},</when></choose>
                <choose><when test="createtime!=null">#{createtime,jdbcType=TIMESTAMP},</when></choose>
        </trim>
    </sql>

    <sql id="batchDouFieldSql">
        <trim suffixOverrides=",">
                <if test="item.id!=null">`id`,</if> `name`,`school_id`,`teacher`,`manage`,`createtime`,
        </trim>
    </sql>
    <sql id="batchDouValueSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id},</when></choose>
                <choose><when test="item.name!=null">#{item.name},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.schoolId!=null">#{item.schoolId},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.teacher!=null">#{item.teacher},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.manage!=null">#{item.manage},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.createtime!=null">#{item.createtime,jdbcType=TIMESTAMP},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="item.id!=null">`id`,</if>
                <if test="item.name!=null">`name`,</if>
                <if test="item.schoolId!=null">`school_id`,</if>
                <if test="item.teacher!=null">`teacher`,</if>
                <if test="item.manage!=null">`manage`,</if>
                <if test="item.createtime!=null">`createtime`,</if>

        </trim>
    </sql>
    <sql id="batchDouValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id},</when></choose>
                <choose><when test="item.name!=null">#{item.name},</when></choose>
                <choose><when test="item.schoolId!=null">#{item.schoolId},</when></choose>
                <choose><when test="item.teacher!=null">#{item.teacher},</when></choose>
                <choose><when test="item.manage!=null">#{item.manage},</when></choose>
                <choose><when test="item.createtime!=null">#{item.createtime,jdbcType=TIMESTAMP},</when></choose>
        </trim>
    </sql>
    <sql id="updateSetSql">
        <set>
                    <choose> <when test="name!=null">`name`=#{name}</when> <otherwise> `name`=NULL</otherwise> </choose>,
                    <choose> <when test="schoolId!=null">`school_id`=#{schoolId}</when> <otherwise> `school_id`=NULL</otherwise> </choose>,
                    <choose> <when test="teacher!=null">`teacher`=#{teacher}</when> <otherwise> `teacher`=NULL</otherwise> </choose>,
                    <choose> <when test="manage!=null">`manage`=#{manage}</when> <otherwise> `manage`=NULL</otherwise> </choose>,
                    <choose> <when test="createtime!=null">`createtime`=#{createtime,jdbcType=TIMESTAMP}</when> <otherwise> `createtime`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="updateSetWithoutNullSql">
        <set>
                    <choose><when test="name!=null">`name`=#{name},</when></choose>
                    <choose><when test="schoolId!=null">`school_id`=#{schoolId},</when></choose>
                    <choose><when test="teacher!=null">`teacher`=#{teacher},</when></choose>
                    <choose><when test="manage!=null">`manage`=#{manage},</when></choose>
                    <choose><when test="createtime!=null">`createtime`=#{createtime,jdbcType=TIMESTAMP},</when></choose>
        </set>
    </sql>
    <sql id="magicalcoderPkWhereSql">
        where 1=1
            and `id` = #{magicalCoderPrimaryKeyName}
    </sql>
    <sql id="updatePkWhereSql">
        where 1=1
            and `id` = #{id}
    </sql>
    <sql id="batchUpdateSetSql">
        <set>
                    <choose> <when test="item.name!=null">`name`=#{item.name}</when> <otherwise> `name`=NULL</otherwise> </choose>,
                    <choose> <when test="item.schoolId!=null">`school_id`=#{item.schoolId}</when> <otherwise> `school_id`=NULL</otherwise> </choose>,
                    <choose> <when test="item.teacher!=null">`teacher`=#{item.teacher}</when> <otherwise> `teacher`=NULL</otherwise> </choose>,
                    <choose> <when test="item.manage!=null">`manage`=#{item.manage}</when> <otherwise> `manage`=NULL</otherwise> </choose>,
                    <choose> <when test="item.createtime!=null">`createtime`=#{item.createtime,jdbcType=TIMESTAMP}</when> <otherwise> `createtime`=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="batchUpdateWithoutNullSetSql">
        <set>
                    <choose> <when test="item.name!=null">`name`=#{item.name},</when></choose>
                    <choose> <when test="item.schoolId!=null">`school_id`=#{item.schoolId},</when></choose>
                    <choose> <when test="item.teacher!=null">`teacher`=#{item.teacher},</when></choose>
                    <choose> <when test="item.manage!=null">`manage`=#{item.manage},</when></choose>
                    <choose> <when test="item.createtime!=null">`createtime`=#{item.createtime,jdbcType=TIMESTAMP},</when></choose>
        </set>
    </sql>
    <sql id="batchUpdatePkWhereSql">
        where 1=1
            and `id` = #{item.id}
    </sql>
    <!-- 这里可以加上数据库名称 方便的切换数据库-->
    <sql id="tableSql">
        blogs.liuya_class
    </sql>

   <sql id="whereSqlModel">
        <if test="id!=null "> and `id` = #{id}</if>
        <if test="name!=null "> and `name` = #{name}</if>
        <if test="schoolId!=null "> and `school_id` = #{schoolId}</if>
        <if test="teacher!=null "> and `teacher` = #{teacher}</if>
        <if test="manage!=null "> and `manage` = #{manage}</if>
        <if test="createtime!=null "> and `createtime` = #{createtime,jdbcType=TIMESTAMP}</if>
                <if test="idFirst!=null "> and `id` <![CDATA[=]]>
                            #{idFirst}
                </if>
                <if test="nameFirst!=null "> and `name` <![CDATA[=]]>
                            #{nameFirst}
                </if>
                <if test="schoolIdFirst!=null "> and `school_id` <![CDATA[=]]>
                            #{schoolIdFirst}
                </if>
                <if test="teacherFirst!=null "> and `teacher` <![CDATA[=]]>
                            #{teacherFirst}
                </if>
                <if test="manageFirst!=null "> and `manage` <![CDATA[=]]>
                            #{manageFirst}
                </if>
                <if test="createtimeFirst!=null "> and `createtime` <![CDATA[>=]]>
                        #{createtimeFirst,jdbcType=TIMESTAMP}
                </if>
                <if test="createtimeSecond!=null "> and `createtime` <![CDATA[<=]]>
                        #{createtimeSecond,jdbcType=TIMESTAMP}
                </if>
        <!--<if test="whereSql!=null"> ${whereSql}</if>-->
    </sql>

    <sql id="safeGroupBy">
        <if test="safeGroupBy!=null and safeGroupBy!=''">
            group by
            <choose>
                <when test="safeGroupBy != null and safeGroupBy == 'id'">  `id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'name'">  `name` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'school_id'">  `school_id` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'teacher'">  `teacher` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'manage'">  `manage` </when>
                <when test="safeGroupBy != null and safeGroupBy == 'createtime'">  `createtime` </when>
            </choose>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="safeOrderBy!=null and safeOrderBy!=''">
            <choose>
                <when test="safeOrderBy != null and safeOrderBy == 'id desc'"> order by  `id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'id asc'"> order by `id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'name desc'"> order by  `name` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'name asc'"> order by `name` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'school_id desc'"> order by  `school_id` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'school_id asc'"> order by `school_id` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'teacher desc'"> order by  `teacher` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'teacher asc'"> order by `teacher` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'manage desc'"> order by  `manage` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'manage asc'"> order by `manage` asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'createtime desc'"> order by  `createtime` desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'createtime asc'"> order by `createtime` asc </when>
            </choose>
        </if>
    </sql>

    <sql id="orderGroupLimit">
        <include refid="safeGroupBy"/>
        <if test="notSafeGroupBy != null and notSafeGroupBy != ''"> group by ${notSafeGroupBy}</if>
        <include refid="safeOrderBy"/>
        <if test="notSafeOrderBy != null and notSafeOrderBy != ''"> order by ${notSafeOrderBy}</if>
        <if test="limit != null"> LIMIT <if test="start != null">#{start},</if>#{limit} </if>
    </sql>

</mapper>
