<!--
代码为自动生成 Created by www.magicalcoder.com
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:323237052
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v001/include/head :: commonHead('学校表列表')"/>
<body class="childrenBody layui-hide">
    <form class="layui-form queryForm">
        <blockquote class="layui-elem-quote quoteBox security_list_query_form">
            <form class="layui-form-item"><!--注意这个form最终会被layui删除-->
                <div class="layui-inline security_list_query_param_id">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="id" name="idFirst" placeholder="id" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_schoolId">
                    <div class="layui-input-inline">
                        <select  data-name="schoolId" class="magicalcoder-foreign-select2 layui-input" lay-ignore="true" name="schoolIdFirst" style="height:30px;width: 200px" data-url="admin/liuya_school_type_rest/search" data-id="id" data-text-fields="id,typeName" placeholder="学校的名字,外键"><option value=""></option></select>
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_headportrait">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="headportrait" name="headportraitFirst" placeholder="头像" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_backgroundImg">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="backgroundImg" name="backgroundImgFirst" placeholder="主页背景图" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_signature">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="signature" name="signatureFirst" placeholder="签名" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_password">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="password" name="passwordFirst" placeholder="密码" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_email">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="email" name="emailFirst" placeholder="联系邮箱" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_phone">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="phone" name="phoneFirst" placeholder="联系电话" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_createtime">
                    <div class="layui-input-inline" >
                        <input type="text" data-name="createtime" name="createtimeFirst" lay-verify="datetime"  placeholder="起始创建时间" autocomplete="off" class="magicalcoder-laydate layui-input"/>
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_studentNumber">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="studentNumber" name="studentNumberFirst" placeholder="学生人数" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_teacherNumber">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="teacherNumber" name="teacherNumberFirst" placeholder="老师人数" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_grade">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="grade" name="gradeFirst" placeholder="等级值" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_address">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="address" name="addressFirst" placeholder="详细地址" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_link">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" data-name="link" name="linkFirst" placeholder="链接地址" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_operate_search">
                    <a class="layui-btn search_btn" data-type="reload">搜索</a>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
                <div class="layui-inline security_list_query_operate_add_news">
                    <a class="layui-btn layui-btn-normal addNews_btn">添加</a>
                </div>
                <div class="layui-inline security_list_query_operate_del_all">
                    <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                </div>
            </form>
        </blockquote>
        <table class="security_list_table" id="newsList" lay-filter="newsListFilter" data-primary-fields="id"></table>
        <script type="text/html" id="createtimeTemplate">
            <input type="text" id="_createtime_{{= d.id }}" name="createtime"  data-identify="{{= d.id }}"  autocomplete="off" class="magicalcoder-table-laydate layui-input security_list_table_form_createtime" value="{{= d.createtime}}" lay-verify="magicalCoderVerify" magicalcoder-verify=""  placeholder="创建时间"/>
        </script>
        <!--操作-->
        <script type="text/html" id="newsListOperateTemplate">
            <a class="layui-btn layui-btn-sm security_list_table_operate_edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger security_list_table_operate_del" lay-event="del">删除</a>
        </script>
    </form>
    <div th:replace="magicalcoder/v001/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/liuyaschool/liuyaschool-list.js}"></script>
</body>
</html>
